.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: normal;
  text-decoration: none;
  transition: all 0.3s;
  padding: 10px 20px 12px;
}
.btn-primary {
  font-size: 1.5rem;
  font-weight: normal;
  border-radius: 4px;
  background-color: deepskyblue;
  border: 1px solid rgb(17, 36, 54);
  color: rgb(17, 36, 54);
}
.btn-primary:hover {
  background-color: rgb(17, 36, 54);
  border: 1px solid deepskyblue;
  color: deepskyblue;
}
